.banner-container {
  height: 100%;
  margin: 0;
}

.bg-banner {
  background-image: url('../../assets/images/banner.png');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.bg-banner h1 {
  font-size: 50px;
  font-weight: 600;
}

.bg-banner p {
  font-size: 20px;
  font-weight: 600;
}
